body
{
  background-color:#9f9ca5;
  font-size:11px;
  font-family:verdana,tahoma,arial;
  word-wrap:break-word;
}

a:link
{
  text-decoration:none;
  color:#c00000;
}

a:visited
{
  text-decoration:none;
  color:#c00000;
}

a:hover
{
  color:#7500c0;
}

a:active
{
  color:#7500c0;
}
